* {
    margin: 0;
    padding: 0;
}

.grid {
    width: 1200px;
    margin: 0 auto;
}

.gird_five {
    width: 1920px;
    margin: 0 auto;

}

.head {
    width: 100%;
    height: 134px;
    display: flex;
    justify-content: left;
    align-items: center;

}

.head_in_box {
    font-weight: bold;
    color: black;
}

.head_in_small_box {
    margin-left: 50px;
}

.img {
    width: 653px;
    height: 427px;

}

.second_box {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

.second_box_text {
    padding-bottom: 40px;
    font-size: 42px;
    color: #0085FF;
    font-weight: bold;
}

.second_box_text1 {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 50px;
}

.second_box_text2 {
    font-size: 16px;
    margin-bottom: 40px;
}

.second_box_text3 {
    width: 88px;
    height: 1px;
    background-color: black;
    border-bottom: none;
    border-left: none;
    border-right: none;

}

.second_box_text4 {
    margin-top: 40px;
    margin-left: 20px;

}

.third_box {
    padding-top: 100px;
    height: 385px;

}

.third_box_text {
    color: #0085FF;
    font-size: 28px;
    font-weight: bold;
}

.third_box_text2 {
    margin-top: 40px;
    font-size: 18px;

}

.third_gray_box {
    display: flex;
    margin-top: 40px;

}

.one_gray_box_first {
    font-size: 18px;
}

.one_gray_box {
    margin-left: 20px;
}

.gray_box_text {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.gray_box_text2 {
    font-size: 16px;
    margin-top: 10px;
}

.gray_box_text1 {
    font-size: 18px;
    margin-top: 10px;
}

.four_box {
    padding-top: 100px;
    height: 385px;
}

.four_box_text1 {
    padding-top: 100px;
    font-weight: bold;
    font-size: 28px;
    color: #0085FF;
}

.four_box_text2 {
    font-size: 18px;
    padding-top: 20px;
}

.button {
    padding-top: 20px;
    padding-bottom: 20px;
}

.center-text {
    text-align: center;
    font-size: 100px;
}

.four_gradation_box {
    width: 10px;
    height: 141px;
    border-bottom: none;
    border-top: none;
    border-right: none;
    background: conic-gradient(blue, white);
    display: flex;

}

.five_box {
    margin-top: 100px;
    width: 1915px;
    height: 180px;
    background-color: #707070;
    display: flex;
    align-items: center;
}

.five_in_box {
    margin-left: 150px;
}

.five_box_text {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.five_box_text2 {
    font-size: 16px;
    color: #ffffff;
    font-weight: lighter;
}

.four_box_text3 {
    margin-left: 50px;
}

.four_box_text4 {
    font-weight: bold;
    margin-left: 10px;
}