/*
nav
.nav_content_container
#meue */
* {
    margin: 0;
    padding: 0;
}
nav{ /* 속성 / 값 */
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    padding: 20px 0px; /* px값은 시계 방향으로 돈다 */
}
div.nav_content_container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;  
}
h2.logo{
    color: #ff7a00;
    margin-right: 40px;
}
div.menu > a{
    text-decoration: none;
    color: #9e9e9e;
    margin-right: 20px;
}
div.menu > a:nth-child(1){
color: black;
}
div.menu > a:nth-child(2){
    color: blue;
}
.banner_container{
    margin-top: 40px;
}
.banner_container > div{
    width: 1200px;
    margin: 0 auto;
}